@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat',sans-serif ;
}
.headspace{
   
    background-color:#FFA441 ;
    color: white;
}
html body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}
.navbar{
 
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #58A7F8;
    color: white;
    font-weight: bolder;
    font-size: x-large;
   
}
.navbar-brand{
    color: white;
    font-weight: bolder;
    font-size: xx-large;
}
.whoami{
    display:flex;
    justify-content: space-around;
    padding: 1rem;
}

.img1{
   height: auto;
   width: auto;
}
.whoA{
    display: block;
    padding: 5rem;
    color: #FBF5EC;
    background-color: #FFA441;
    font-size: 14vw;
    
}
.boy{
    color: white;
    font-size: bold;
}
.whoA1{
  display: flex;
  justify-content: center;
}

#whoAmI{
    background-color: #FFA441;

}
#stressfree{
    padding: 2rem;
    color: #FBF5EC;
    background-color:#0C6FF9 
   
}

#Meditation{
    padding: 5rem;
    background-color:#FFCE00;
    color:white
}
.container.corr{
    margin-top:5rem ;
}
#Meditation.medi{
    width: 5% 10%;
}



.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }
  
  .icon-link {
    display: inline-flex;
    align-items: center;
  }
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
  }
  .icon-link:hover > .bi {
    transform: translate(.25rem);
  }
  
  .icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
  }
  
  .rounded-4 { border-radius: .5rem; }
  .rounded-5 { border-radius: 1rem; }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .card1{
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #FFA441;
    box-shadow: -1rem 0 3rem #FBF5EC;
    display: flex;
    flex-direction: row;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}
.card1:focus-within~.card1, .card1:hover~.card1 {
    transform: translateX(130px);
}

.card1:hover {
    transform: translateY(-1rem);
}

.card1:not(:first-child) {
    margin-left: -130px;
}

#thoughtProcess{
    padding: 2rem;
    color: white;
    background-color: #9B75C1;
}
